################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VideoGameApp
/VideoGameApp/bin/Debug/netcoreapp3.1
/VideoGameApp/obj
